<ion-view title="Know Your Leader">
    <ion-tabs>

        <ion-tab title="English">
            <ion-content class="has-header">

                <div class="item item-divider">
                    Ramprasad Bordikar
                </div>
                <img src="img/ionic.JPG" class="img-half">
<!--
                <div class="item item-divider">About</div>
                <p class="padding text-justify">Vivek Pandit is a real Social Activists as he has not just committed about activities but he has done successful social campaigns in favor of society.</p>
                <div class="item item-divider">Biography</div>
                <p class="padding text-justify">Vivek Pandit – A Social Activist
                    <br>Vivek Pandit is not only a good organizer but also a fine orator and a visionary leader. He and his movement were able to free thousands of bonded laborers in Thane district as well as in other parts of Maharashtra. His movement has forced the government to give entitlement of more than thirty thousand acres of lands to tribals. The credit of implementation of atrocities act goes to him in the State of Maharashtra. Due to his efforts the State of Maharashtra has changed the policy for the benefit of children who are not enrolled in the school. His famous long March along with thousands of people forced state to exclude 29 villages of Vasai from Municipal Corporation of Vasai-Virar.
                    <br>Through his organizations,Vidhayak Sansad ( the Constructive Parliament), Shramajeevi Sanghatana (Organisation of Toiling People) and Samarthan for legislative advocacy work, he and his co-workers spearheaded the struggle for many important issues of human rights.
                    <br>He was awarded Ashoka Fellowship in 1983, American Advocacy Fellowship was also awarded to him in 1990.Similary, and he also received renowned Eisenhower Fellowship (USA) in 2000. He has been felicitated by various awards and fellowships. Mr. and Ms. Pandit have received International Anti-Slavery Award (UK), in recognition of their consistent work against bonded labour System. The Parliament of the United Kingdom passed a resolution felicitating their work. They were honoured with Maharashtra Gaurav Award by the Vasantrao Naik Foundation and were felicitated by the Hon’ble His Excellency Governor of Maharashtra.</p>
-->

            </ion-content>
        </ion-tab>
        <ion-tab title="मराठी">

            <ion-content class="has-header">

                <div class="item item-divider">
                    रामप्रसाद बोर्डीकर 
                </div>
                <img src="img/ionic.JPG" class="img-half">
                <div class="item item-divider">आमच्या बद्दल</div>
                <p class="padding text-justify">
                जसा हिऱ्याचाजन्म कोळश्याच्या काहाणीत होतो,
कमळ चिखलात उमलतो तसाच एक हिरा आणि 
तसच एक सर्वसामान्य शेतकरी कुटुंबात जन्माला आलं होत.</p>
<p class="padding text-justify">
वामन बोर्डीकर आणि शकुंतला बोर्डीकर ह्यांच्या घरी रामप्रसाद बोर्डीकर नावाच्या वाघांचा जन्म झाला होता.</p>
<p class="padding text-justify">
लहानपणापासून त्यांना समाजकार्याची ओढ, एक शेतकरी कुटुंब जन्मल्यामुळे त्यांनी लोकांची दुख जवळून पहिली.</p>
<p class="padding text-justify">
रांजल्या गांजल्या लोकांसाठी काही तरी कराव त्यांना सतत वाटायचं. लोकांचे प्रश्न त्यांना अस्वस्थ करत.</p>
<p class="padding text-justify">
लोकांचे प्रश्न सोडवण्याच त्यांना एकच मार्ग दिसला तो मार्ग म्हणजे राजकारण.</p>
<p class="padding text-justify">
कोणतीही राजकीय पार्श्वभूमी नसताना त्यांनी १९७५ साली कॉंग्रेसचे पदाधिकारी म्हणून कामास सुरवात करून स्व - बळावर आणि स्व – कर्तुत्वावर नगरसेवक पदा पासून एका वेळा विधान परिषद आणि चार वेळा विधानसभेवर निवडून येऊन विधानसभा गाजवली.</p>
<p class="padding text-justify">
तब्बल ४० वर्ष यशस्वी पद्धतीने परभणी जिल्ह्या मध्ये संपूर्ण मराठवाड्यात यशस्वी राजकारण केले. हे लोकप्रियतेच उत्तुंग शिखरावर असताना देखील सर्वसामन्य माणसांच्या हृदयात वसली मुंबई कृषी बाजार समितीची दैदिप्यमान कामगिरी असो किवा बंद पडण्याच्या मार्गावर आलेली परभणी मध्यवर्ती बँकेचे नेतृत्व.</p>
<p class="padding text-justify">
कठोर परिश्रमाने अशक्य हि शक्य कसे हि दाखवून दिले आहे. कुशल नेतृत्व कठोर निर्णय घेण्याची क्षमता आणि सामान्य जनता शेतकरी यांच्यासाठी अहोरात्र झतण्याची वृत्ती ह्यामुळे ते लोकांच्या मनावर अविरत राज्य करू शकेल. रामप्रसाद बोर्डीकर हे वाघच ये.......</p>
<p class="padding text-justify">
त्यांच्या व्यग्र गर्जनेने संपूर्ण विधानसभा हादरते. त्यांनी नियोजलेली विकास कामांची दाखल प्रत्यक्ष मुख्यमंत्र्यांना सुद्धा घ्यावी लागते. आता वेळ आली आहे ती त्यांना विधान्साभावर निवडून आणण्याची आणि मला आशाच नाही पूर्ण विश्वास आहे आपण सारे मिळून हे कार्य नक्की पार पाडू 
</p>

            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
